<!DOCTYPE html>

<html>
    <head>
        <title>Bien le bonjour</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Bienvenu sur votre premier site Spring</h1>
        <p>Voici la seule page disponible (pour l'instant) </p>
        <ul>
            <li><a href="http://localhost:8080/hello">hello</a>: une page polie</li>
            <li><a href="http://localhost:8080/greeting">greeting</a>: une page polie qui répond</li>
        </ul>
    
    </body>
</html>
